.imgcarousel3{
    width: 100% ;
    height: 100%;
 
}

.imgcarousel1{
    width: 100%;
    height: 100%;
}
 
.imgcarousel2{
    width: 100% ;
    height: 100%
}

.pgcarousel{
    padding-top: 3rem;
}