@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Oleo+Script&display=swap');

.logoDA{
  --font-logo: 'Marcellus SC', serif;
  cursor: pointer;
  color: rgb(116, 46, 247)116, 46, 247); 
}


.cursor{
  cursor: pointer;
  color: white;
}

.text-decorator-none{
  text-decoration: none;
}

.displayNavbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}


.displayNavBarLogo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
}

.backgroundNavBar{
  background-color: black;
  padding: 10px;
}