@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.dist_{
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}


.display{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.display img{
    height: 300px;
    width: 435px;
}

.display_text h1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 24px;
}

.display_text p{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 12px;
}