.mg{
    padding-top: 100px;
}

.textos2{
    font-weight: bolder !important;
}

.buttonDisplay{
    display: flex;
    flex-direction: row;
}


.ButtonBGcolor{
    background-color: black !important;
}