@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;800&family=Roboto:wght@700&display=swap');

:root {
  --font-family: 'Marcellus SC', serif;  /* fonte logo site */
  --abril-fatface: 'Abril Fatface', cursive;  /* fonte categorias navbar e textos imagens site */
  --bebas-neue: 'Bebas Neue', cursive;  /* fonte títulos textos site */
  --poppins: 'Poppins', sans-serif;  /* fonte textos site */
}
