@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.box1{
    margin-top: 20rem;
}

.redes{
    font-size: 60px !important;
    color: black;
}

.text{
    color: black;
}

.colorlogo{
    color:#6B36CF;
    font-family: var(--font-family) !important;
    font-size: 60px !important;
}
