.text-decorator-none{
    text-decoration: none;
}

.mg{
   margin-top: 100px;
}

.textos1{
    font-weight: bold !important;
 }

 .ButtonBGcolor{
     background-color: black !important;
 }

 .textfieldwd{
     width: 325px;
 }