.text-decorator-none{
    text-decoration: none;
}

.pg-top{
    padding-top: 7rem;
}

.categoriatm{
    width: 450px;
    height: 560px;
}

.displaycategoria{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.absolute{
    position: absolute;
    margin-bottom: 4rem;
}

.cursor{
    cursor: pointer;
}