@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.PgTopLogin{
    margin-top: 7rem;
}

.border{
    margin-right: 40px;
    width: 90%;
}
.mg_titulo{
    margin-bottom: 2rem;
}
.MarginLogin{
    margin-right: 3rem;
}

.MarginCadastro{
    flex-direction: end;
}

.PgLogin{
   justify-content: left;
   display: flex;
}

.fontpage{
    font-family: var(--poppins) !important;
    color: white;
    font-size: 25px !important;
    margin-top: 60px !important;
    margin-left: 60px;
}