.PgTopLogin{
    margin-top: 7rem;
}

.border{
    margin-right: 40px;
    width: 90%;
}
.mg_titulo{
    margin-bottom: 2rem;
}
.MarginLogin{
    margin-right: 3rem;
}

.MarginCadastro{
    flex-direction: end;
}

.PgLogin{
   justify-content: left;
   display: flex;
}